{{ define "constructor" }}
var err error

func New{{ .Name }}(r *http.Request) (*{{.Name}}, *gkerror.ValidationErrGroup) {
	errGroup := gkerror.NewValidationErrGroup()
	x := new({{ .Name }})
{{ end }}
