{{ define "email" }}
	address, err := mail.ParseAddress(x.{{ .FieldName }})
	if err != nil {
	    	errGroup.Add({{ .FieldName }}EmailErr(x.{{ .FieldName }}))
	} else {
		x.{{ .FieldName }} = address.Address
    	}
{{ end }}
