{{ define "email" }}
	address, err := mail.ParseAddress(x.{{ .Field.Name }})
	if err != nil {
	    	errGroup.Add({{ .Field.Name }}EmailErr(x.{{ .Field.Name }}))
	} else {
		x.{{ .Field.Name }} = address.Address
    	}
{{ end }}


{{ define "email_err" }}
var {{ .Field.Name }}EmailErr gkerror.ValidationErrReciever = gkerror.NewErrReceiver("{{ .Field.FormName }}",  "valid email", "{{ .ValidatorSpec.FmtErr}}" )
{{ end }}
