
{{ define "max_err" }}
var {{ .Field.Name }}MaxErr gkerror.ValidationErrReciever = gkerror.NewErrReceiver("{{ .Field.FormName }}",  {{ .Value }}, "{{ .ValidatorSpec.FmtErr}}" )
{{ end }}

{{ define "max" }}
	if x.{{ .Field.Name }} > {{ .Value }} {
		errGroup.Add({{ .Field.Name}}MaxErr(x.{{ .Field.Name}}))
	}
{{ end }}
