{{ define "maxLen" }}
	if len(x.{{ .Field.Name}}) > {{ .Value }} {
		errGroup.Add({{ .Field.Name}}MaxLenErr(len(x.{{ .Field.Name}})))
	}
{{ end }}


{{ define "maxLen_err" }}
var {{ .Field.Name }}MaxLenErr func(received any) gkerror.ValidationErr = func(received any) gkerror.ValidationErr {
		return gkerror.NewValidationErr("{{ .Field.FormName }}",  received, {{ .Value }}, "{{ .ValidatorSpec.FmtErr }}" )
}
{{ end }}
