{{ define "maxLen" }}
	if len(x.{{ .Field.Name}}) > {{ .Value }} {
		errGroup.Add({{ .Field.Name}}MaxLenErr(len(x.{{ .Field.Name}})))
	}
{{ end }}


{{ define "maxLen_err" }}
var {{ .Field.Name }}MaxLenErr gkerror.ValidationErrReciever = gkerror.NewErrReceiver("{{ .Field.FormName }}",  {{ .Value }}, "{{ .ValidatorSpec.FmtErr}}" )
{{ end }}


