{{ define "min_err" }}
var {{ .Field.Name }}MinErr gkerror.ValidationErrReciever = gkerror.NewErrReceiver("{{ .Field.FormName }}",  {{ .Value }}, "{{ .ValidatorSpec.FmtErr}}" )
{{ end }}


{{ define "min" }}
	if x.{{ .Field.Name }} < {{ .Value }} {
		errGroup.Add({{ .Field.Name}}MinErr(x.{{ .Field.Name}}))
	} 
{{ end }}
