{{ define "minLen" }}
	{{ .Field.Name }}Len := len(x.{{.Field.Name}})
	if {{ .Field.Name}}Len < {{ .Value }} {
		errGroup.Add({{ .Field.Name}}MinLenErr({{ .Field.Name }}Len))
	}
{{ end }}


{{ define "minLen_err" }}
var {{ .Field.Name }}MinLenErr gkerror.ValidationErrReciever = gkerror.NewErrReceiver("{{ .Field.FormName }}",  {{ .Value }}, "{{ .ValidatorSpec.FmtErr}}" )
{{ end }}
