{{ define "option_var" }}
var {{ .Field.Name }}Options []string = []string{ {{ joinStrs .Value }} }
{{ end }}

{{ define "option_err" }}
var {{ .Field.Name }}Options []string = []string{ {{ joinStrs .Value }} }

var {{ .Field.Name }}OptionErr gkerror.ValidationErrReciever = gkerror.NewErrReceiver("{{ .Field.FormName }}",  {{ .Field.Name}}Options, "{{ .ValidatorSpec.FmtErr}}" )

{{ end }}

{{ define "option" }}
	if !slices.Contains({{ .Field.Name }}Options, x.{{ .Field.Name }}) {
		errGroup.Add({{ .Field.Name }}OptionErr(x.{{ .Field.Name }}))
	}
{{ end }}
