{{ define "regex" }}
	if !{{ .Field.Name }}Regex.MatchString(x.{{ .Field.Name }}) {
		errGroup.Add({{ .Field.Name }}RegexErr(x.{{ .Field.Name }}))
	}
{{ end }}

{{ define "regex_err" }}
var {{ .Field.Name }}Regex *regexp.Regexp = regexp.MustCompile("{{ .Value }}")
var {{ .Field.Name }}RegexErr gkerror.ValidationErrReciever = gkerror.NewErrReceiver("{{ .Field.FormName }}",  "{{ .Value }}", "{{ .ValidatorSpec.FmtErr}}" )
{{ end }}


