
<!-- type Object struct { -->
<!-- 	*ObjectSpec -->
<!-- 	builder *strings.Builder -->
<!-- 	fields  []*Field -->
<!-- 	Imports util.StringSet -->
<!-- } -->
<!-- type ObjectSpec struct { -->
<!-- 	Name       string       `yaml:"name"` -->
<!-- 	Package    string       `yaml:"package"` -->
<!-- 	FieldSpecs []*FieldSpec `yaml:"fields"` -->
<!-- 	Path       string       `yaml:"path"` -->
<!-- } -->

{{ define "typedef" }}
type {{ .Name }} struct {
{{ range .Fields }}	{{ .Name }} {{ .Kind }}
{{ end }}}
{{ end }}
